@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto:wght@300;400;500;700&family=Trocchi&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #e6ddff;
  overflow-x: hidden;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

header {
  background: #b960b8;
  text-align: center;
  position: absolute;
  z-index: 99999;
  width: 100%;
}

/* Nav bar */

.nav-toggle {
  position: absolute;
  left: -12200px;
  top: -12200px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 1px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #2b2b2b;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #b960b8;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 50%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #f5f0f0;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #2b2b2b;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-desktop {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

/* nav end */

.herocontainer {
  display: flex;
  justify-content: center;
}

.herob-text {
  font-family: 'Trocchi', sans-serif;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.herotext1 {
  font-family: 'Trocchi', serif;
  font-weight: 400;
  font-size: 72px;
  color: #f5f0f0;
  margin-top: 150px;
}

.herotext2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #f5f0f0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.header-pic {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(/img/heropic3.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.container {
  padding: 10px;
}

/* Herobanner end */

/* Main top section */

.breadcrums {
  padding: 30px;
  list-style: none;
}

.breadcrums li {
  display: inline;
  font-size: 18px;
  font-family: 'Roboto';
}

.breadcrums li + li::before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

.breadcrums li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrums li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.active {
  color: #0275d8;
  font-weight: 600;
  font-size: 24px;
}

.title {
  display: flex;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2.5em;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #2b2b2b;
}

.top-section {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.column {
  width: 100%;
  float: left;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 30px;
  background-color: transparent;
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.card h2 {
  font-family: 'Roboto';
  color: #2b2b2b;
  font-size: 2.5em;
}

/* Buttons */

.science {
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 2.5em;
  color: #2b2b2b;
  background-color: #3edd84;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'roboto';
  font-weight: 300;
  margin-top: 15px;
}

.visit {
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 2.5em;
  color: #2b2b2b;
  background-color: #dc72d1;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'roboto';
  font-weight: 300;
  margin-top: 15px;
}

.visit:hover {
  background-color: #f12886;

}
.science:hover {
  background-color: azure;
}
/* buttons end */
p {
  font-size: 1.5em;
  color: #213e59;
}

.topsection-pic {
  width: 100%;
}

/* Top section end */

/* Mid section */

.midsection-column {
  height: 10vh;
  display: flex;
}

.bold {
  font-weight: 400;
}

/* Mid section end */

.botsection-title {
  margin-top: 30px;
  border-bottom: 1px solid black;
  font-family: 'Trocchi';
  font-weight: 400;
  font-size: 72px;
  color: #2b2b2b;
  display: flex;
  margin-left: 122px;
}

.botsection-undertitle {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 42px;
  margin-left: 122px;
  color: #f5f0f0;
}

/* Footer */

.footer {
  background-color: #e6ddff;
  padding: 70px 0;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  width: 25%;
  padding: 0 20px;
}

.footer-column h4 {
  font-size: 24px;
  color: #192f44;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 400;
}

.footer-column ul li {
  list-style-type: none;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 25px;
}

.footer-column ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #192f44;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  padding-left: 8px;
}

.footer-column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #192f44;
  margin: 0 10px 10px 0;
  text-align: center;
  border-radius: 50px;
  line-height: 40px;
  color: #fff;
  transition: all 0, 5s ease;
}

.footer-column .social-links a:hover {
  color: #2b2b2b;
  background-color: #dc72d1;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 10%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Footer end */

@media screen and (min-width: 1024px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(800px, 4fr) 1fr;
  }
  .logo {
    grid-column: 1 / 4;
  }
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    width: 50%;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 1024px) {
  .column {
    width: 95%;
    display: block;
    margin-bottom: 20px;
  }
  .row {
    display: block;
  }
  .footer-column {
    width: 35%;
    margin-bottom: 30px;
  }
  .title {
    font-size: 2em;
  }
  .science {
    font-size: 1.5em;
  }
  .visit {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 574px) {
  .footer-column {
    width: 25%;
    font-size: 12px;
  }
  .footer-column p {
    font-size: 18px;
  }
  .title {
    font-size: 1.5em;
  }
  .herotext1 {
    font-size: 22px;
  }
  .herotext2 {
    font-size: 24px;
  }
  .science,
  .visit {
    margin-bottom: 20px;
  }
  .botsection-title {
    font-size: 2em;
    margin-left: 20px;
  }
}
