* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto:wght@400;700&family=Trocchi&display=swap');

.container {
  background-color: #e6d6b5;
}
body {
  background-color: #d9d9d9;
  box-sizing: border-box;
}

/* Nav */
.nav-desktop {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.nav-toggle {
  position: absolute;
  left: 10000px;
  top: 10000px;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue,.75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
.nav-desktop ul li {
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3f075d;
}
.nav li a {
  padding: 20px 16px;
  display: block;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #f29f05;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  height: 100px;
  width: 100px;
  display: flex;
}
/* nav end */

/* Herobanner */
.herocontainer {
  display: flex;
  justify-content: center;
}

.herob-text {
  font-family: 'Trocchi', sans-serif;
  font-weight: 400;
}

.herotext1 {
  font-family: 'Trocchi', serif;
  font-weight: 400;
  font-size: 72px;
  color: #616161;
}
.herotext2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #616161;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}
.header-pic {
  height: 387px;
  background-image: url(/img/heropic.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 16px;
}
/* Herobanner end */
.title {
  display: flex;
  font-family: 'Comic Neue', serif;
  font-weight: 400;
  font-size: 40px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #213e59;
}
/* Main top section */

.top-section {
  display: flex;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1194px;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.column {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: transparent;
}
.science {
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  color: #000;
  background-color: #6da8d6;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
}
.visit {
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  color: #654321;
  background-color: #dc72d1;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
}
p {
  font-size: 24px;
  color: #213e59;
}
.topsection-pic {
  width: 100%;
}
/* Top section end */

/* Mid section */
.midsection-column {
  height: 20vh;
  display: flex;
}
.midsection-pic {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
/* Mid section end */

/* Footer */
.footer {
  background-color: #f6f0e6;
  padding: 70px 0;
}
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-column {
  width: 25%;
  padding: 0 20px;
}
.footer-column h4 {
  font-size: 24px;
  color: #192f44;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
}
.footer-column ul li:not(:last-child) {
  margin-bottom: 25px;
}
.footer-column ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #192f44;
  font-weight: 300;
  transition: all 0.3s ease;
}
.footer-column ul li a:hover {
  padding-left: 8px;
}
.footer-column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #192f44;
  margin: 0 10px 10px 0;
  text-align: center;
  border-radius: 50px;
  line-height: 40px;
  color: #fff;
  transition: all 0, 5s ease;
}
.footer-column .social-links a:hover {
  color: #2b2b2b;
  background-color: #dc72d1;
}
/* Footer end */

/* Responsive */
@media screen and (max-width: 767px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row {
    display: block;
  }
  .footer-column {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {
  .footer-column {
    width: 100%;
  }
}
